h1{
    text-align: center;
    font-family: Rockwell;
    background-color: whitesmoke;
    border: 1px solid gainsboro;
    margin-bottom: 0px;
    padding-top: 10px;

}
.main-div{
    background-color: rgb(255, 254, 248);
    border: 2px solid gainsboro;
}

p,
.block-small,
.block-smaller,
.blockInline{
    border: 3px solid orange;
    font-family: 'Gill Sans';
    margin: 10px;
}

.block-small{
    width: 50%;
}

.block-smaller{
    width: 25%;

}

.blockInline{
    width: 30%;
    display: inline-block;
}

.btn{
    display: inline-block;
    margin: 10px;
    background-color: rgb(106, 170, 255);
    font-family: 'Gill Sans';
    padding: 20px 5px;
}

.btn:hover{
    display: inline-block;
    background-color: rgb(6, 114, 254);
}

.strong1{
    width: 30px;
    height: 40px;
    background-color: rgb(252, 110, 110);
    padding: 2px;
}

.green{
    color:green;
}

.red{
    color:red;
}

